.git/
.gitignore
.venv/
venv/
env/
.env
*.env

__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
*.egg-info

mypy.ini
tests/
test/
coverage.xml
.pytest_cache/
*.log

!alembic.ini
!pyproject.toml
!uv.lock